<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/5d3123e5e3.js" crossorigin="anonymous"></script>
  <title>Travel App</title>
</head>

<body>
  <header class="hero-section">
    <nav class="navbar">
      <div class="navbar__container main-container">
        <div class="logo-box">
          <a href="#section-1" class="logo">
            <i class="fas fa-space-shuttle"></i>MountDev</a>
        </div>
        <ul class="navbar__list">
          <li class="navbar__list-item"><a href="#">Section 1</a></li>
          <li class="navbar__list-item"><a href="#">Section 2</a></li>
          <li class="navbar__list-item"><a href="#">Section 3</a></li>
          <li class="navbar__list-item"><a href="#">Section 4</a></li>
        </ul>
      </div>
    </nav>
    <div class="hero main-container">
      <div class="hero__left">
        <h1 class="hero__left-heading">Javier Garcia</h1>
        <p class="hero__left-subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et delectus, dolorum
          rem rerum iusto repellat corporis quod neque magni amet provident debitis qui perferendis.</p>
          <ul class="hero__left-social">
            <li class="hero__left-social__item"><a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="hero__left-social__item"><a href="#"><i class="fab fa-github"></i></a></li>
            <li class="hero__left-social__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          </ul>
          <a href="" class="btn btn-primary hero__left-btn">Download CV</a>      
      </div>
      <div class="hero__right">
        <img src="http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/hero.png" alt=""
          class="hero__right-img">
      </div>
    </div>
    <div class="slideshow main-container">
      <div class="slideshow__box slideshow__box--1">
        <img src="<%= require('../img/python.png')%>" alt="">
      </div>
      <div class="slideshow__box slideshow__box--2">
        <img src="<%= require('../img/Tableau.png')%>" alt="">
      </div>
      <div class="slideshow__box slideshow__box--3">
        <img src="<%= require('../img/r.png')%>" alt="">
      </div>
      <div class="slideshow__box slideshow__box--4">
        <img src="<%= require('../img/github.png')%>" alt="">
      </div>
    </div>
  </header>
  <section class="section-about">
    <div class="about main-container">
      <div class="about__left">
        <img src="http://cvresumetemplate.com/maha-personal-cv-resume-html-template/assets/images/ab-img.png" alt="">
      </div>
      <div class="about__right">
        <h3 class="about__right-heading">About Me</h3>
        <p class="about__right-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae commodi placeat ad dolor ullam saepe aliquid officiis porro, deleniti laboriosam voluptate aperiam recusandae illo voluptas mollitia provident aut eius sunt! Voluptate nihil amet dignissimos.</p>
        <p class="about__right-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maxime sit veniam laborum quos rem dolor, adipisci vel culpa molestias. Consequuntur velit sapiente officia! Error nobis facilis.</p>
        
      </div>
    </div>
  </section>
  <section class="section-contact">
    <div class="contact main-container">
      <div class="contact__left">
        <h3 class="contact__left-heading">Let's get in touch</h3>
        <p class="contact__left-subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <ul class="contact__left-list">
          <li class="contact__left-list__item"><i class="fas fa-envelope"></i>javiergarcia@gmail.com</li>
          <li class="contact__left-list__item"><i class="fas fa-phone-alt"></i>07247 219 785</li>
          <li class="contact__left-list__item"><i class="fas fa-map-marker-alt"></i>Edinburgh, UK</li>
        </ul>
        <ul class="contact__left-social">
          <li class="contact__left-social__item"><a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li class="contact__left-social__item"><a href="#"><i class="fab fa-github"></i></a></li>
          <li class="contact__left-social__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="contact__right">
        <form action="" class="contact__right-form">
          <input type="text" placeholder="Name" class="contact__right-form__input">
          <input type="email" placeholder="Email" class="contact__right-form__input">
          <textarea name="" placeholder="Message" id="" cols="30" rows="10" class="contact__right-form__textarea"></textarea>
          <input type="submit" class="contact__right-form__btn btn btn-primary">
        </form>
      </div>
    </div>
  </section>

</body>

</html>